@import url(http://fonts.googleapis.com/css?family=Open+Sans);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.color-primary-0 { color: #0A0D0C } /* Main Primary color */
.color-primary-1 { color: #394643 }
.color-primary-2 { color: #191C1C }
.color-primary-3 { color: #050908 }
.color-primary-4 { color: #030605 }

.color-secondary-1-0 { color: #0D0A0D } /* Main Secondary color (1) */
.color-secondary-1-1 { color: #493C48 }
.color-secondary-1-2 { color: #1D1A1D }
.color-secondary-1-3 { color: #090509 }
.color-secondary-1-4 { color: #060306 }

.color-secondary-2-0 { color: #14130F } /* Main Secondary color (2) */
.color-secondary-2-1 { color: #6D6A5A }
.color-secondary-2-2 { color: #2C2B27 }
.color-secondary-2-3 { color: #0D0D08 }
.color-secondary-2-4 { color: #090804 }


body {
  font-family: 'Open Sans', sans-serif;
  background-image:url(../img/background.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* Navigation */

nav {
  width: 100%;
  height: 60px; 
  position: fixed; 
  top: 0;
  background-color:#030605;
  z-index: 100;
}

nav ul {
  padding: 20px;
  margin: 0 auto;
  list-style: none;
  text-align: center;
}
nav ul li {
  display: inline-block;
  margin: 0 10px;
}
nav ul li a{
  padding: 10px 0;
  color: #6D6A5A;
  font-size: 1rem;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.2s ease;
}
nav ul li a:hover {
  color: #34495E;
}
a.active {
  border-bottom: 2px solid #fff;
}

/* Headings */

h1 {
  font-size: 5rem;
  color: #34495E;
}


/* Sections */
.gap{
  width:100%;
  height:40px;
}

section {
  width: 100%;
  padding: 50px;
  background: #fff;
  border-bottom: 1px solid #ccc;
  height: 95vh;
  text-align: center;
}
section.me{
  background-color:#394643;
}
.me div{
  position: relative;
  top: 40%;
  transform: translateY(-60%);
  font-family: 'Ubuntu', sans-serif;
}
.me h1{
  font-size:100px;
  font-weight:500;
  color:#0A0D0C;
}
.me p{
  font-size:40px;
  color:#6D6A5A;
  margin:20px;
}
.title{
  font-family: 'Ubuntu', sans-serif;
  font-size:3rem;
  font-weight:500;
  color:#6D6A5A;
  margin-left:200px;
  text-align:left;
  width:300px;
}
.content{
  font-family: 'Open Sans', sans-serif;
  color:#FFF;
  text-align:left;
  margin-left:50px;
  flex-grow:1;
}

section.tech{
  background: #212327;
  display:flex;
}

div.tech{
  margin:20px;
}


section.work{
  background: #212327;
  display:flex;
}
section.resume{
  background: #212327;
  display:flex;
}
section.contact{
  background: #212327;
  display:flex;
}
.sections section:first-child {
  margin-top: 60px;
}
section.active {}

footer {
  height: 500px;
  background: #34495e;
}

/*Skills Bars*/
.skillbar {
  position:relative;
  display:block;
  margin-bottom:15px;
  width:100%;
  /*background:#eee;*/
  height:35px;
  border-radius:3px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  -webkit-transition:0.4s linear;
  -moz-transition:0.4s linear;
  -ms-transition:0.4s linear;
  -o-transition:0.4s linear;
  transition:0.4s linear;
  -webkit-transition-property:width, background-color;
  -moz-transition-property:width, background-color;
  -ms-transition-property:width, background-color;
  -o-transition-property:width, background-color;
  transition-property:width, background-color;
}

.skillbar-title {
  position:absolute;
  top:0;
  left:0;
width:110px;
  font-weight:bold;
  font-size:13px;
  color:#ffffff;
  background:#6adcfa;
  -webkit-border-top-left-radius:3px;
  -webkit-border-bottom-left-radius:4px;
  -moz-border-radius-topleft:3px;
  -moz-border-radius-bottomleft:3px;
  border-top-left-radius:3px;
  border-bottom-left-radius:3px;
}

.skillbar-title span {
  display:block;
  padding:0 20px;
  height:35px;
  line-height:35px;
  -webkit-border-top-left-radius:3px;
  -webkit-border-bottom-left-radius:3px;
  -moz-border-radius-topleft:3px;
  -moz-border-radius-bottomleft:3px;
  border-top-left-radius:3px;
  border-bottom-left-radius:3px;
}

.skillbar-bar {
  height:35px;
  width:0px;
  background:#6adcfa;
  border-radius:3px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
}

.skill-bar-percent {
  position:absolute;
  right:10px;
  top:0;
  font-size:11px;
  height:35px;
  line-height:35px;
  color:#ffffff;
  color:rgba(0, 0, 0, 0.4);
}