body{
  background-image:url(../img/bk3.jpg);
  background-repeat:no-repeat;
  background-attachment: fixed;
}

@media all and (max-device-width: 1024px){
  body{
    background-color:#597b96;
    background-image:none;
  }
}

nav.navbar{
  background-image: linear-gradient(to bottom, #000000 0px, #1B151F 100%);

}
div.gap{
  display:block;
  content:" ";
  margin-top:-50px;
  height:50px;
  visibility: hidden;
}
ul.nav{
  font-family:'Nunito', sans-serif;
  font-size:16px;
  color:#7A7569;
}
div.me{
  background:transparent;
  height:100vh;
  width:100%;
  display:table;
}
h4.me{
  margin-top:15px;
  font-size:20px;
  color:#fafbfb;
}


a.me{
  text-decoration: none;
  color:#fafbfb;
}
div.middle{
  display:table-cell;
  vertical-align: middle;
  background:transparent;
  width:100%;
}
.jumbotron{
  margin:0px;
  background:transparent;
  color:#fafbfb;
  font-family:'Nunito', sans-serif;
  width:100%;
  text-align:right;
}

.sectionTitle{
  font-family:'Nunito', sans-serif;
  color:#fafbfb;
  font-size:50px;
  font-weight:500;
  width:100%;
}
div.tech{
  background:transparent;
  min-height:1000px;
  width:100%;
}
div.techContent{
  border-radius:10px;
  background-color:#474747;
  padding-top:15px;
  margin:20px;
}
div.work{
  background:transparent;
  min-height:1000px;
  width:100%;
}
div.workContent{
  border-radius:10px;
  background-color:#FFF;
  margin:20px;
}
p.work{
  font-family:'Nunito', sans-serif;
  font-size:16px;
  color:#000;
} 
ul.work{
  font-family:'Nunito', sans-serif;
  font-size:16px;
  color:#000;
}
div.portfolio{
  background:transparent;
  min-height:900px;
}
div.resume{
  background:transparent;
  min-height:900px;
}
img.resume{
  display:inline-block;
  margin:20px;
}
div.resumeContent{
  background:#474747;
  border-radius:10px;
  margin:20px;
  width:400px;
  margin-left:auto;
  margin-right:auto;
}

@media all and (max-device-width: 1024px){

  div.workContent{
    margin:0px;
  }
  div.techContent{
    margin:0px;
  }
}
/*######################################
          Skill Bars                  ##
######################################*/
/*Skills Bars*/
.skillbar {
  position:relative;
  display:block;
  margin-bottom:15px;
  width:100%;
  /*background:#eee;*/
  height:35px;
  border-radius:3px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  -webkit-transition:0.4s linear;
  -moz-transition:0.4s linear;
  -ms-transition:0.4s linear;
  -o-transition:0.4s linear;
  transition:0.4s linear;
  -webkit-transition-property:width, background-color;
  -moz-transition-property:width, background-color;
  -ms-transition-property:width, background-color;
  -o-transition-property:width, background-color;
  transition-property:width, background-color;
}

.skillbar-title {
  position:absolute;
  top:0;
  left:0;
width:110px;
  font-weight:bold;
  font-size:13px;
  color:#ffffff;
  background:#6adcfa;
  -webkit-border-top-left-radius:3px;
  -webkit-border-bottom-left-radius:4px;
  -moz-border-radius-topleft:3px;
  -moz-border-radius-bottomleft:3px;
  border-top-left-radius:3px;
  border-bottom-left-radius:3px;
}

.skillbar-title span {
  display:block;
  padding:0 20px;
  height:35px;
  line-height:35px;
  -webkit-border-top-left-radius:3px;
  -webkit-border-bottom-left-radius:3px;
  -moz-border-radius-topleft:3px;
  -moz-border-radius-bottomleft:3px;
  border-top-left-radius:3px;
  border-bottom-left-radius:3px;
}

.skillbar-bar {
  height:35px;
  width:0px;
  background:#6adcfa;
  border-radius:3px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
}

.skill-bar-percent {
  position:absolute;
  right:10px;
  top:0;
  font-size:11px;
  height:35px;
  line-height:35px;
  color:#ffffff;
  color:rgba(0, 0, 0, 0.4);
}